{% extends 'base.html.twig' %}

{% block title %}Calculate{% endblock %}

{% block body %}
    {{ include('product/_form.html.twig', {'button_label': 'Calculate'}) }}
    <a href="{{ path('app_product_index') }}">back to list</a>
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        <p><strong>{{ message }}</strong></p>
    </div>
    {% endfor %}
{% endblock %}
